@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
.contador{
    width: 60%;
    margin: 10vh 20%;
    background-color: #ababab;
    box-shadow: 0px 10px 15px #000;
    border: 3px solid #6f1111;
    border-radius: 10px;
    display: flex;
}
h1{
    width: 50%;
    font-size: 50px;
    font-family: 'Mukta';
    color: #6f1111;
}
.botonera{
    width: 50%;
}
.contador button{
    width: 30%;
    height: 20%;
    margin: 25% 3px;
    color: #fff;
    font-weight: 600;
    background-color: #6f1111;
    border: 1px solid #fff;

}

